@{
    ViewData["nav-search"] = "active";
    ViewData["Title"] = "Search Complaints";
}
<form method="post">
    <input type="text" name="search" placeholder="search for" />
    <input type="submit" value="search" class="btn-secondary"/>
</form>